@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb  {
    background: #3FA5D5;
    border-radius: 3px;
}

body {
    font-family: "Rubik" ;
    background: #F1F1F1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    max-width: 220px;
    width: 100%;
    background: #3FA5D5;
    border-radius: 30px;
    text-align: center;
    padding: 7px 0;
    color: #fff;
    display: inline-block;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    transition: .2s;
}

.link:hover {
    background: #2A86B1;
}

.nav {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px;
    width: 100px;
    overflow: hidden;
    transition: .5s;
    overflow-y: auto;
    z-index: 999;
}

.nav:hover {
    width: 235px;
}

.logo {
    width: 60px;
    margin-left: 5px;
}

.log__img {
    width: 100%;
}

.avatar {
    width: 70px;
    height: 70px;
}

.avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.menu__link {
    color: #939393;
    font-size: 18px;
    transition: .5s;
    display: flex;
    align-items: center;
    margin: 55px 0 55px 15px;
}

.menu__link:hover {
    color: #2A86B1;
}

.menu__icon {
    line-height: 27px;
    font-size: 35px;
    width: 40px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 30px;
}

.header__content {
    background: url(../img/header-bg.png);
    background-color: #fff;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 62px;
    border-radius: 15px;
    margin-top: 30px;
}

.header__title {
    font-size: 50px;
    color: #464748;
    max-width: 332px;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}

.header__desc {
    font-weight: 400;
    font-size: 16px;
    color: #696868;
    max-width: 314px;
    width: 100%;
    margin-bottom: 32px;
}

.header__link {
    max-width: 211px;
}

.header__box {
    position: relative;
}

.header__box::before {
    width: 100px;
    height: 53px;
    background: #3FA5D5;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards__item {
    border-radius: 15px;
    background: #fff;
    max-width: 255px;
    width: 100%;
    min-height: 338px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 44px 18px 19px 18px;
    justify-content: space-between;
    margin-top: 30px;
}

.cards__title {
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    color: #2A86B1;
}

.cards__icon {
    color: #3FA5D5;
    line-height: 94px;
    font-size: 94px;
}

.cards__icon_globus {
    color: #3FA5D5;
    line-height: 110px;
    font-size: 110px;
}

.cards__box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info__content {
    max-width: 825px;
    width: 100%;
}

.title {
    color: #686868;
    font-size: 20px;
    margin: 48px 0 22px 17px;
}

.info__desc {
    background: #fff;
    color: #545454;
    font-size: 16px;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 25px;
}

.info__desc:last-of-type {
    margin-bottom: 0;
}

.news__card {
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    max-width: 255px;
    width: 100%;
}

.news__card:last-of-type {
    margin-bottom: 0;
}

.news__photo {
    object-fit: cover;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 15px;
}

.news__title {
    font-weight: 400;
    font-size: 17px;
    line-height: 94.5%;
    margin-bottom: 7px;
    color: #323232;
}

.news__desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 94.5%;
    color: #000;
}

.info {
    display: flex;
    justify-content: space-between;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    background: #3FA5D5;
    padding: 40px 0;
    margin-top: 44px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__title {
    font-size: 50px;
    color: #fff;
}

.footer__tel {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    margin-bottom: 15px;
}

.footer__email {
    color: #fff;
    font-size: 16px;
}